{% extends 'base.html' %}
{% load rest_framework %}
{% load static %}
{% block title %}
 Profile Page
{% endblock title %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'demo/profile.css' %}">
{% endblock %}

{% block nav %}
<nav class="login-nav">
  <h2><a href ="{% url 'starting_page' %}">Log out</a></h2>
</nav>
{% endblock nav %}

{% block content %}
<div class="profile-form">
  <form action="{% url 'profile' pk %}" method="PUT" >
    {% csrf_token %}
    {% render_form serializer %}
    <button type="submit">Update</button>
  </form>
  </div>
{% endblock content %}

